@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins sans-serif';
}

/* GENERAL STYLES */
.bg-color{
    background-color: #FFD700;
}

.jumbotron {
    /* background-image: url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'); */
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.restaurant-card {
    transition: transform 0.3s;
}

.restaurant-card:hover {
    transform: translateY(-5px);
}

/* styles for restaurant menu page */
.fan-section {
    background-color: #FFD700;
    padding: 50px 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fan-section img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.caption {
    font-size: 14px;
    color: #333;
    font-style: italic;
    text-align: center;
}

.caption strong {
    display: block;
    margin-top: 10px;
    color: #000;
}

/* <--------- END ---------> */

/* app font styles */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}


.fira-code-medium {
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* <--------- END ---------> */

/* <-------- cart page styles --------> */
.product-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.quantity-control {
    width: 120px;
}

.quantity-input {
    width: 40px;
    text-align: center;
    border: none;
    background: transparent;
}

.quantity-btn {
    border: none;
    background: transparent;
    color: #666;
}

.delete-btn {
    color: #666;
    background: none;
    border: none;
}

.cart-item {
    border-radius: 15px;
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}



.checkout-btn {
    background-color: #00B517;
    border: none;
}

.checkout-btn:hover {
    background-color: #009714;
}